:root{
    --oceanblue : #3a5ce9;
    --mustard : #E6A32A;
    --neongreen : #DFFF00;
    --robotoMono : 'Roboto Mono', monospace;
    --roboto : 'Roboto', sans-serif;
    --lime : #cbff0f;
    --undelineLime : url('../assets/image/underline2.png');
    --circleLine : url('../assets/image/circle1.png');
}
::selection{
    background-color: #3a5ce9;
}

html {
    font-size : 16px;  
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background: #e5e5e5;
}
body {
    color : black;
    text-align: center;
    font-size : 1rem;
}

