#Introduce{
    position : absolute;
    top : 0px;
    left : 0px;
    height : 4096px;
    width : 100%;
    background : black;
    color : white;
    transform-style : preserve-3d;
    perspective: 1200px;
}
#Introduce header{
    position : absolute;
    top : 200px;
    left : 22%;
    color : white;
    font-family : 'Roboto Mono' , monospace;
    font-weight : 200;
    font-size : 32px;
    text-align : left;
    margin : 0 auto;
    line-height : 30px;   
    
}
#Introduce header h3{
    font-weight : 200;

    font-size : 40px;
}
#Introduce header .highlight{
    position : absolute;
    top : 35px;
    left : 450px;
    width : 260px;
    height : 20px;
    transform : rotate(180deg);
}
#Introduce img{
    position : absolute;
    top : 150px;
    left : 100px;
    width : 300px;
    height : 400px;
    border-radius : 1px;
}


