.ParanomaBox .locationBox{
    position: absolute;
    top : 80px;
    left : 50px;
    width : 500px;
    text-align: center;
    font-family : 'Roboto Mono' , monospace;
    font-style : italic;
    font-size : 32px;
    border-bottom : 1px solid white;
}
.ParanomaBox .PhotoPlace{
    position: absolute;
    top : 80px;
    left : 650px;
    width : 600px;
    height : 600px;
}

.ParanomaBox .PictureInformation{
    position: absolute;
    top : 150px; 
    left : 70px;
    width : 450px;
    height : 200px;
    font-family: 'Roboto Mono',monospace;
    font-size : 20px;
    font-style : italic;
}

.ParanomaBox .locationInfo{
    position : absolute;
    top : 20px;
    left : 20px;
}
.ParanomaBox .dateInfo{
    position : absolute;
    top : 70px;
    left : 20px;
}