#ProjectArchive{
    position: absolute;
    top : 3600px;
    left : 0px;
    width : 100%;
    height : 1500px;
    background-color: #eee;
    color : black;
    overflow : hidden;  
    white-space : pre;
    z-index: 2;
}
#ProjectStartWording{
    position : absolute;
    top : 50px;
    left : 0px;
    width : 100%;
    height : 50px;
    text-align: center;
    font-size : 64px;
    font-family : 'Roboto' , sans-serif;
    font-weight : 800;
    font-style : italic;
}
#ProjectStartWording img{
    position: absolute;
    width : 350px;
    height : 150px;
    transform : translate3d(-270px , -40px ,0px);
}
#ProjectArchive .container{
    position: absolute;    
    display :flex;
    flex-direction: row;
    top : 200px;
    left : 0px;
    width : 100%;
    padding-left : 10px;
    padding-top : 100px;
    z-index: 1;
    text-align: left;
    overflow-x: auto;
}
/* Project Cards Style*/

#ProjectArchive .cards{
    min-width : 400px;
    max-width : 550px;
    height : 500px;
    margin : 20px 10px 20px 10px;
    border-radius : 5px;
    border : 1px solid #222;
    box-shadow : 1px 1px 1px 1px #222;   
    padding : 5px 10px 5px 10px;
    transition : transform .4s;
    list-style: none;
}
#ProjectArchive .cards:hover{
    animation : cardHover 1.4s ease infinite alternate;
    transform :translateY(-20px);
}
#ProjectArchive .cards .ProjectName{
    width : 100%;
    text-align: center;
    font-size : 28px;
    font-style : italic;
    padding-top : 10px;
}

#ProjectArchive .cards .ProjectExplain{
    width: 100%;
    height : 300px;
    font-family: 'Roboto mono', monospace;
    font-weight : 400;
    font-size : 16px;
    font-style : italic;
}

#ProjectArchive .cards span ,
#ProjectArchive .cards a{
    background : #222;
    color : white;
    border-radius : 5px;
    padding : 0px 2px 0px 2px;
    text-decoration: none;
}

#ProjectArchive .cards .Stacks{
    width : 100%;
    height : 100px;
    text-align : left;

}
#ProjectArchive .cards .Stacks li{
    display :inline;
    list-style: none;
    background: #222;
    color : white;
    margin : 5px;
    padding : 2px 5px 2px 5px;
    border-radius : 5px;
    line-height: 30px;
    
}
#ProjectArchive .cards .Button{
    margin : 5px;
    padding : 5px 10px 5px 10px;
    transition : all .4s;
}
#ProjectArchive .cards .Demo{
    padding : 5px 80px 5px 80px;

    background: #3a5ce9;
}
#ProjectArchive .cards .Button:hover{
    background-color : #EE66AA;
}
@keyframes cardHover{
    from{
        border : 1px solid #222;
        box-shadow : 1px 1px 1px 1px #222;
    }to{
        border : 1px solid #3a5ce9;
        box-shadow : 1px 1px 1px 1px #3a5ce9;
    }
}
@keyframes slide{
    from { 
        transform : translateX(0px);
    }
    to {
        transform : translateX(-400px);
    }
}