#SideBar{
    position: fixed;
    right : 20px;
    width : 50px;
    height : 100%;
    text-align: center;
    font-family : 'Roboto Mono',momospace;
    font-weight : 200;
    writing-mode: tb-rl;
    z-index: 80;
    font-size : 16px;
    color : white;  
    transition : transform .4s;

}

.sidebar_hidden{
    transform : translateX(50px);
}
#SideBar svg{
    margin-top : 20px;
    width : 27px;
    height : 27px;
    fill : #fff;
    cursor : pointer;
    transition: all .4s;
}
#SideBar svg:hover{

    transform : translateY(-5px);
    fill : #3a5ce9;
}