.topbar_hidden{
    transform : translateY(-80px);
}

#Topbar svg{
    position : absolute;
    top : 25px;
    right : 5%;
    fill : #485969;
    transform : rotate(-90deg);
    transition: transform .4s;
    cursor: pointer;
}
#Topbar .location{
    position: absolute;
    top : 26px;
    left : 0px;
    font-family : 'open sans' ,sans-serif;
    font-weight : 400;
    font-style : italic;
    text-align: left;
    line-height: 8px;
    color : #485969;
}

#Topbar svg:hover{
    transform : rotate(-90deg) scale(1.2);
    animation: btnAnimate 1s ease infinite alternate ;
    animation-delay: .4s;
}
#Topbar .reverse{
    transform: rotate(90deg);
}
#Topbar .reverse:hover{
    transform : rotate(90deg) scale(1.2);
    animation: reversebtnAnimate 1s ease infinite alternate ;
    animation-delay: .4s;
}
@keyframes btnAnimate {
    from{
        transform : translateY(0) rotate(-90deg) scale(1.2);
    }
    to{
        transform : translateY(-10px) rotate(-90deg) scale(1.2);
    }
}
@keyframes reversebtnAnimate {
    from{
        transform : translateY(0) rotate(90deg) scale(1.2);
    }
    to{
        transform : translateY(10px) rotate(90deg) scale(1.2);
    }
}
@keyframes fadeIn{
    from{
        transform : translateY(-80px);
        opacity: 0;
    }
    to{
        transform : translateY(0px);
        opacity: 1;
    }
}